
<div class="container top ">
    <div class="col-lg-12  ">
        <div class="row  ">
                  <div class="col-md-3 ">
                    <!-- <mat-form-field>
                        <mat-label>Sucursal</mat-label>
                        <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <select class="input">
                      <option value="0">Sucursal</option>
                      <option value="2">aaaa</option>
                      <option value="2">aaaa</option>
                      <option value="2">aaaa</option>
                      <option value="2">aaaa</option>
                    </select>
                </div>
                <br>
            <div class="col-md-6">
                  <!-- <input type="text"
                  class="top"
                  ngxDaterangepickerMd
                  [(ngModel)]="selected"
                  placeholder="Hoy"
                  [locale]="{applyLabel: 'aceptar', format: 'YYYY-MM-DD'}"
                  class="form -control"
                  (ngModelChange)="ngModelChange($event)"
                  /> -->
                  <select class="input">
                    <option value="0">Meses</option>
                    <option value="2">aaaa</option>
                    <option value="2">aaaa</option>
                    <option value="2">aaaa</option>
                    <option value="2">aaaa</option>
                  </select>
            </div>
            <br>
                <!--Tabla #1 -->
            <div class="col-md-12 " *ngFor="let fill of dataFill; let i= index;">
                <div class="container " >
                  <div class="row mt-5 d-flex  ">
                    <div class="tablafill table-responsive">
                      <!-- Tabla fill -->
                        <table class="table table-sm tabla">
                            <thead >
                              <tr class="">
                                <td scope="col" colspan="2">
                                  Sucursal 00
                                </td>
                                <td scope="col" colspan="2">
                                  Fill Rate Prestamos
                                </td>
                                <td scope="col" colspan="3">
                                  Diciembre 2019
                                </td>
                              </tr >
                            </thead>
                            <tbody>
                              <tr class="tr ">
                                <th scope="row">Semana</th>
                                <th>Solicitado</th>
                                <th>Entregado</th>
                                <th>Diferencia</th>
                                <th>Porcentaje</th>
                                <td  rowspan="6"  class="bordeGrafica">
                                  <!-- <div class="flex"> -->
                                    <!-- <div class="flex-item"> -->
                                      <!-- <div style="display: block;"> -->
                                        <app-grafica-lineal></app-grafica-lineal>
                                      <!-- </div> -->
                                    <!-- </div> -->
                                  <!-- </div> -->
                                </td>
                              </tr>
                              <tr class="tr" *ngFor="let item of fill.fill" >
                                <td>
                                  {{item.semana}}
                                </td>
                                <td>
                                  {{item.solicitud}}
                                </td>
                                <td>
                                  {{item.entregado}}
                                </td>
                                <td>
                                  {{item.diferencia}}
                                </td>
                                <td>
                                  {{item.porcentaje}}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Total
                                </td>
                                <td>
                                  {{fill.fill_sumary.solicitado}}
                                </td>
                                <td>
                                  {{fill.fill_sumary.entregado}}
                                </td>
                                <td>
                                  {{fill.fill_sumary.diferencia}}
                                </td>
                                <td>
                                  {{fill.fill_sumary.porcentaje}}
                                </td>
                              </tr>
                            </tbody>
                        </table>
                        <!-- fin tabla fill -->
                  </div>
                  <div class="col-lg-12  top " *ngIf="!trOculto">
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <div class="table-responsive tcausa" >
                          <table class="table table-sm tablaCausa " > 
                            <thead>
                              <th colspan="5">Causas en {{fill.header.titulo}}</th>
                            </thead>
                            <tbody class="tbodyCausas">
                              <tr class="tr">
                                <td><b>Causa</b></td>
                                <td><b>Cantidad</b></td>
                                <td><b>Porcentaje</b></td>
                                <td><b>Acomulado</b></td>
                                <td><b>Estatus</b></td>
                              </tr>
                              <tr *ngFor="let causa of fill.causas" class="tr">
                              <td>{{causa.causa}}</td>
                              <td>{{causa.cantidad}}</td>
                              <td>{{causa.porcentaje}}</td>
                              <td>{{causa.acomulado}}</td>
                              <td> <input type="checkbox" [checked]="causa.estado" (change)="mostrarOpcion(causa,i)"></td>
                              </tr>
                              <tr class="trCausas">
                                <td>
                                  Total
                                </td>
                                <td>
                                  {{fill.sumary_causas.cantidad}}
                                </td>
                                <td>
                                  {{fill.sumary_causas.porcentaje}}
                                </td>
                                <td>
                                  {{fill.sumary_causas.acomulado}}
                                </td>
                                <td></td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                      
                      <div class="col-md-6 col-ms-12">
                        <div class="table-responsive  tcausa " >
                          <table class="table table-sm detalleProducto " > 
                            <thead>
                              <th colspan="3">Detalle de productos</th>
                            </thead>
                            <tbody class="tbodyCausas">
                              <tr class="tr">
                                <td><b>Causa</b></td>
                                <td><b>Código</b></td>
                                <td><b>Cantidad</b></td>
                              </tr>
                              <tr *ngFor="let producto of fill.detalle_producto" class="tr" [ngClass]="{'ocultaTr': !producto.status}">
                              <td>{{producto.causa}}</td>
                              <td>{{producto.codigo}}</td>
                              <td>{{producto.cantidad}}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    {{fill.sumary_causas.cantidad}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>
                <!--Fin Tabla #1-->
        </div>
    </div>
</div>


