<ngx-spinner [name]="'loading'"  ><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container">
  <br>
    <div class="row">
      <div class="col-md-3 ">
        <select class="input" [(ngModel)]="sucursal">
          <option value="0">Sucursales</option>
          <option *ngFor="let sucursal of sucursales" [value]="sucursal.sucursal">
            {{sucursal.descripcion}}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="input" [(ngModel)]="mes">
          <option value="0">Mes de Fill Rate</option>
          <option *ngFor="let mes of meses" [value]="mes.id">
            {{mes.descripcion}}
          </option>
        </select>
      </div>
      <div class=" col-md-3 col-xs-12">
        <button class="btn btn-danger btn-block" (click)="buscar_fill_rate()">Ver</button>
      </div>
    </div>
  
    <div class="principal " *ngFor="let tabla of dataFill; let i = index;"  >

        <div class="row header">
            <!-- <div class="col-4"> -->
              <div class="col-3 align-self-center ">
                <div class="row justify-content-start ">
               &nbsp;&nbsp; Sucursal {{tabla.header.sucursal}}
                </div>
              </div>
            <!-- </div> -->
            <div class="col-6 align-self-center">
              <div class="row justify-content-center ">
                <div class="encabezado">
                  &nbsp;&nbsp;{{tabla.header.titulo}} &nbsp;&nbsp;
                </div>
              </div>
          </div>
          <div class="col-3 align-self-center ">
            <div class="row justify-content-start ">
              &nbsp;&nbsp;{{tabla.header.mes}} 
            </div>
          </div>
        </div>

     <!-- PARA DESKTOP -->
    
     <div class="row" *ngIf="!esMobil" >
         <div class="col-sm-12 col-md-6 col-lg-6 ">
             <div class="row vertical-line">
              <table class="table table-sm table-striped place-grafica"  #tableSolicitudes>
                 <thead >
                     <tr [ngClass]="{'header-movile': esMobil==true}" >
                         <th>Semana</th>
                         <th>Solicitado</th>
                         <th>Entregado</th>
                         <th>Diferencia</th>
                        <th >Porcentaje <i class="far  fa-clipboard fa-lg" (click)="copiarTable(1)"></i></th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let fill of tabla.fill"  >
                        <td>{{fill.semana}}</td>

                        <td>{{fill.solicitada}}</td>
                        <td>{{fill.cantidadenviada}}</td>
                        <td>{{fill.cantidadpendiente}}</td>
                        <td>{{fill.promedio | number : '1.2-2'}} %</td>
                      </tr>
                    </tbody>
                  </table>

                  

             </div>

                  <div class="row   bg-azul " [ngClass]="{'border-summary': tabla.header.mostrar==false}">
                    <table class="table-striped">
                      <thead>
                        <tr class="justify-content-center">
                          <th scope="col">Total</th>
                          <th scope="col">{{tabla.fill_summary.solicitada}}</th>
                          <th scope="col">{{tabla.fill_summary.cantidadenviada}}</th>
                          <th scope="col"> {{tabla.fill_summary.cantidadpendiente}} 
                            <span *ngIf="!tabla.header.mostrar"><i class="fas fa-chevron-circle-down" (click)="verDetalle(i,tabla)"></i></span>
                            <span *ngIf="tabla.header.mostrar"> <i class="fas fa-chevron-circle-up" (click)="verDetalle(i,tabla)"></i></span>
                          </th>
                          <th scope="col">{{tabla.fill_summary.promedio | number :'1.2-2'}} %</th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 no-padding vertical-line-grafica">
                <app-grafica-lineal class="place-grafica" [fill]="tabla.fill"></app-grafica-lineal>
            </div>
    </div>
     <!-- PARA DESKTOP -->


     <!-- PARA MOBIL -->
     <div *ngIf="esMobil">
         <div class="row" >
             <div class="col-sm-12 col-md-6 col-lg-6 ">
              <app-grafica-lineal class="place-grafica" [fill]="tabla.fill"></app-grafica-lineal>
            </div>

             <div class="col-sm-12 col-md-6 col-lg-6  table-responsive">
                 <div class="table-responsive place-chart">

                     <table class="table table-sm table-striped">
                          <thead>
                              <tr>
                                  <th>Semana</th>
                                  <th>Sol</th>
                                  <th>Ent</th>
                                  <th>Dif</th>
                                 <th>%</th>
                               </tr>
                             </thead>
                             <tbody>
                               <tr *ngFor="let fill of tabla.fill">
                                <td>{{fill.semana}}</td>
                                <td>{{fill.solicitada}}</td>
                                <td>{{fill.cantidadenviada}}</td>
                                <td>{{fill.cantidadpendiente}}</td>
                                <td>{{fill.promedio | number : '1.2-2'}} %</td>
                               </tr>
                              
                             </tbody>
                     </table>
                 </div>


            </div>


        </div>
                <div class="row bg-azul text-center celTxt">
                    <div class="col-3 ">
                        TOTAL
                    </div>
                    <div class="col-2 bg-azul">
                      {{tabla.fill_summary.solicitada}}
                    </div>
                    <div class="col-2 bg-azul">
                      {{tabla.fill_summary.cantidadenviada}}
                    </div>
                    <div class="col-2 bg-azul">
                      {{tabla.fill_summary.cantidadpendiente}}
                    </div>
                    <div class="col-3 bg-azul">
                      {{tabla.fill_summary.promedio | number :'1.2-2'}} %
                    </div>
                </div>
     </div>
     <!-- PARA MOBIL -->

        <!-- VER DETALLE -->
        <div class="row " (click)="verDetalle(i,tabla)" *ngIf="esMobil">
            <div class="col-12 ver-mas text-center bg-azul sumary" [ngClass]="{'no-border': tabla.header.mostrar}">
                <span *ngIf="!tabla.header.mostrar"><i class="fas fa-chevron-circle-down"></i></span>
                <span *ngIf="tabla.header.mostrar"> <i class="fas fa-chevron-circle-up"></i></span>
            </div>
        </div>
        <!-- VER DETALLE -->


        <!-- PARA DESKTOP -->
        <div class="row" *ngIf="tabla.header.mostrar && !esMobil">
            <div class="col-12">

                <div class="second-table">
                    <div class="row">
                        <div class="col-6 encabezado-second-table">
                            Causa en Fill Rate Requisiciones
                        </div>
                        <div class="col-6 encabezado-second-table">Detalle De Productos</div>
                    </div>

                    <div class="row">
                        <div class="col-6 table-responsive place-chart">
                            <table class="table table-sm table-striped place-chart"  #tableCausas>
                                <thead>
                                  <tr>
                                    <th scope="col-1" class="">Filtro</th>
                                    <th scope="col-8" class="">Causa</th>
                                    <th scope="col-1" class="">Cantidad</th>
                                    <th scope="col-1" class="">Porcentaje</th>
                                    <th scope="col-1" class="">Ver  <i class="far  fa-clipboard fa-lg" (click)="copiarTable(2)"></i></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let causa of tabla.causas; let icausa =index" >
                                    <td  scope="col-1" class=""><input type="checkbox" [checked]="causa.filtro" (click)="filtrar(causa,i,icausa)" ></td>
                                    <td  scope="col-8" class="text-center ">{{causa.codigoobservacion}}</td>
                                    <td  scope="col-1" class="text-center  ">{{causa.pendientes}}</td>
                                    <td  scope="col-1" class="text-center ">{{causa.promedio | number : '1.2-2'}} %</td>
                                    <td  class=""> <input type="checkbox" [checked]="causa.ver_causa" (click)="mostrarCausa(i,causa)"  >
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>

                        <div class="col-6 table-responsive place-chart">
                            <table class="table table-sm table-striped place-chart"  #tableProductos >
                                <thead>
                                  <tr >
                                    <th scope="col">Causa</th>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Cantidad  <i class="far  fa-clipboard fa-lg" (click)="copiarTable(3)"></i></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="" *ngFor="let detalle of tabla.causas_detalle" [ngClass]="{'ocultaTr': !detalle.ver_causa}">
                                    <td class="text-left">{{detalle.observacion}}</td>
                                    <td class="text-left">{{detalle.codigoproducto}}</td>
                                    <td class="text-center ">{{detalle.pendientes}}</td>
                                  </tr>
                                </tbody>
                        </table>

                        </div>
                    </div>

                    <div class="row  ">
                        <div class="col-6 bg-azul sumary-second-table-border-blue ">
                            <div class="row ">
                            <table class="">
                              <thead>
                                <tr class="">
                                  <th scope="col" class="">Total</th>
                                  <th scope="col" class=""></th>
                                  <th scope="col" class="text-center ">{{tabla.summary_causas.pendientes}}</th>
                                  <th scope="col" class="text-center ">{{tabla.summary_causas.porcentaje}} %</th>     
                                  <th scope="col" class=""></th>                        
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="col-6 bg-naranja sumary-second-table-border-orange">
                            <table class="table-striped">
                              <thead>
                                <tr class="justify-content-center">
                                  <th scope="col"  class="text-left">Total</th>
                                  <th scope="col"></th>
                                  <th scope="col" class="text-center ">{{causaDetalle(i)}}</th>
                                </tr>
                              </thead>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- PARA DESKTOP -->

        <!-- PARA MOBIL -->
        <div *ngIf="tabla.header.mostrar && esMobil">
             <div class="row" >

                <div class="col-sm-12 col-md-6 col-lg-6 no-padding">
                    <h6 class="encabezado-second-table">Causa en Fill Rate Requisiciones</h6>
                        <div class="table-responsive place-tables">
                            <table class="table table-sm table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Filtro</th>
                                    <th scope="col">Causa</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Porcentaje</th>
                                    <th scope="col">Ver</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr  *ngFor="let causa of tabla.causas; let icausa=index;">
                                    <td  scope="col-1" class=""><input type="checkbox" [checked]="causa.filtro" (click)="filtrar(causa,i,icausa)" ></td>
                                    <td class="text-left">{{causa.codigoobservacion}}</td>
                                    <td class="">{{causa.pendientes}}</td>
                                    <td class="">{{causa.promedio | number : '1.2-2'}} %</td>
                                    <td> <input type="checkbox" [checked]="causa.ver_causa" (click)="mostrarCausa(i,causa)"  >
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                </div>
                     <div class="col-12 bg-azul display-inline">
                          <table class="">
                            <thead>
                              <tr class="">
                                <th scope="col" class="">Total</th>
                                <th scope="col" class=""></th>
                                <th scope="col" class="text-center  ">{{tabla.summary_causas.pendientes}}</th>
                                <th scope="col" class="text-center ">{{tabla.summary_causas.porcentaje}} %</th>     
                                <th scope="col" class=""></th>
                                <!-- <th scope="col" class=""></th>                         -->
                              </tr>
                            </thead>
                          </table>
                     </div>
                <div class="col-sm-12 col-md-6 col-lg-6 no-padding">
                    <h6 class="encabezado-second-table">Detalle productos</h6>
                    <div class="table-responsive place-tables">
                        <table class="table table-sm table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Causa</th>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Cantidad</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr  *ngFor="let detalle of tabla.causas_detalle" [ngClass]="{'ocultaTr': !detalle.ver_causa}">
                                    <td class="text-center">{{detalle.codigoobservacion}}</td>
                                    <td class="text-left">{{detalle.codigoproducto}}</td>
                                    <td>{{detalle.pendientes}}</td>
                                  </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 bg-naranja text-right">                   
                    <table class="">
                      <thead>
                        <tr class="">
                          <th scope="col" class="text-left">Total</th>
                          <th scope="col" class="text-center"></th>   
                          <th scope="col" class="">{{causaDetalle(i)}}</th>
                          <!-- <th scope="col" class=""></th>                         -->
                        </tr>
                      </thead>
                    </table>
               </div>
        </div>
        </div>
        <!-- PARA DESKTOP -->
    </div>
</div>
