<div class=" ">
    <div class="row">
        <div class="col-12 text-center bienvenido">
            BIENVENIDO,  {{data}}
        </div>
    </div>

    <div class=" mt-5 row d-flex justify-content-center text-center">
        <img class="mt-5 imagen" src="assets/img/marca_logo.png" >
    </div>

    <!-- <div class=" text-center" *ngFor="let item of opciones.menu">
    <h6>{{item.titulo}}</h6>
            <div class="row d-flex justify-content-center" >
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 carta" *ngFor="let opcion of item.subgrupos">
                <img style="float: left; margin: 5px;" src="../../../assets/svg/choices.svg" width="30px" height="30px">    
                <p style="text-align: center;" class="align-middle"> {{opcion.titulo}}</p>
        
        </div>
        
        </div>
        
    </div> -->


</div>

