.bienvenido{
  color: #003f87;
  font-size: 30px;
  font-weight: 500;
}

.carta{
  border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #b1b2b4;
    background-color: white;
    width: 25%;
    margin: 5px;
}

.imagen{
  width: 350px;
  height: 400px;
}