.background-bg{
	background-image: url('/assets/allas/background.png');
}

.pointer{
  cursor: pointer;
}

.logo-top{
	width: 35%;
	height: 48px;
}

.padding{
	margin: 20px;
}

.radius{
	border-radius: 25px;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,63,165,0.6);
  pointer-events: none;
}

.wrap-login100 {
  width: 390px;
  background: #003f87;
	color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 63, 165, 0.4);
}

.login100-form {
  width: 100%;
}
