<ngx-spinner [name]="'loading'"><p style="color: white" > Cargando... </p></ngx-spinner>

<h6 class="mt-2 text-almuerzo">Equipo en almuerzo</h6>

<div class="  mt-1">
    <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Ultima marca</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trabajador of trabajadores">
          <td>{{trabajador.nombre}}</td>
            <td>
              <img [src]="trabajador.estado" width="25px" height="25px">
            </td>
            <td>{{trabajador.hora}}</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="footer">
  <div class="row">
    <div class="col-4 ">
     <img src="assets/svg/food-full.svg" width="25px" height="25px">
     <br>
     Comiendo
    </div>
    <div class="col-4 ">
      <img src="assets/svg/food-empty.svg" width="25px" height="25px">
      <br>
      Pendiente
    </div>
    <div class="col-4 y">
      <img src="assets/svg/checked.svg" width="25px" height="25px">
      <br>
      Ya comió 
    </div>

  </div>
  <!-- <div class="d-inline p-2 bg-primary text-white">d-inline</div>
<div class="d-inline p-2 bg-dark text-white">d-inline</div> -->
</div>