.text-almuerzo{
    font-weight: bold;
    color: #575454;
    text-align: center;
}

.table{
    text-align: center;
}

.footer{
    padding: 1px;
    box-shadow: 1px 1px 5px 0px  #b1b2b4;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: white;
}