
<div bsModal #modalInfo="bs-modal"  class="modal fade modal-fade-scrollable" 
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg top" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{{titulo}}</h5>
            <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- DIRECCION  -->
            <div class="col-12 text-center">
              <b>DIRECCION</b>
            </div>
              <div class="card">
                  <div class="card-body">
                   
                    <div class="row">
                      <div class="col-1-d  paddingCol text-right">
                        <i class="fas fa-briefcase tamanio-icono mr-2 text-primary" aria-hidden="true"></i> 
                      </div>
                      <div class="col-4 paddingCol">
                        <span 
                        *ngIf="dataTaller.nombre_legal!=null"  class="tamanioText">
                        {{dataTaller["nombre_legal"]}} 
                      </span>
                        <span 
                        *ngIf="dataTaller.nombre_legal==null && dataTaller.nombre_comercial!=null"  class="tamanioText">
                        {{dataTaller["nombre_comercial"]}} 
                      </span>
                        <span *ngIf="dataTaller.nombre_legal==null && dataTaller.nombre_comercial==null" class="tamanioText">SIN NOMBRE LEGAL</span>
                      </div>
                      <div class="col-1-d  paddingCol text-right">
                        <i class="fas fa-address-card tamanio-icono mr-2 text-primary" aria-hidden="true"></i> 
                      </div>
                      <div class="col-4 paddingCol">
                        <!-- <i class="fas fa-address-card tamanio-icono mr-2 text-primary" aria-hidden="true"></i> -->
                        <span *ngIf="dataTaller.identificacion!=null" class="tamanioText">{{dataTaller["identificacion"]}}</span>
                        <span *ngIf="dataTaller.identificacion==null" class="tamanioText">IDENTIDAD VACIA</span>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-1-d  paddingCol text-right">
                          <i class="fas fa-address-card tamanio-icono mr-2 text-primary" aria-hidden="true"></i> 
                        </div>
                       <div *ngIf="dataTaller.direccion!=null" class="col-10  paddingCol">
                        <span  class="tamanioText" 
                        *ngFor="let item of dataTaller['direccion']; let i =index;">
                          <li style="list-style: none;">
                            {{item.barrio_colonia_zona}}
                          </li>
                          <li style="list-style: none;">
                            <span >
                              {{item.direccion_calle_avenida}}
                            </span>
                          </li>
                          <li style="list-style: none;">
                            <span >
                              {{item.direccion_establecimiento}},{{item.direccion_referencia}}
                            </span>
                          </li>
                        </span>
                      
                       </div>
                       <div *ngIf="dataTaller.direccion==null" class="col-10 paddingCol tamanioText" >
                          SIN DIRECCIÓN
                       </div>
                    
                  
                    </div>
                  </div>
              </div>
            <!-- FIN DIRECCION  -->
            <br>
              <div class="col-12 text-center">
                <b>CONTACTOS </b>
              </div>
                <!-- CONTACTOS  -->
              <div class="card scroll" >
                <div class="card-body ">
                    <div class="row card  tamanioText"  
                    *ngFor="let contacto of dataTaller['contactos']; let i =index;"
                    [ngClass]="{'topContacto': i>0}"
                    >
                      <div class="col-12">
                        <div class="row ">
                          <div class="col-12">
                            <i class="fa fa-user-circle-o  tamanio-icono mr-2 text-primary" aria-hidden="true"></i> 
                     
                            <b>{{contacto.nombre_completo}}</b>
                          </div>
                          <div class="col-4" >
                            <i class="fas fa-venus-mars tamanio-icono text-primary mr-2" aria-hidden="true"></i> 
                              <span *ngIf="contacto.genero=='M'">
                                MASCULINO
                              </span>
                              <span *ngIf="contacto.genero=='F'">
                                FEMENINO
                              </span>
                              <span *ngIf="contacto.genero==null">
                                SIN GENERO
                              </span>
                          </div>
                          <div class="col-4">
                            <img src="assets/icons/fingerprint-scan_enrolado.png" alt="enrolado" width="20px" *ngIf="contacto.enrolado">
                            <img src="assets/icons/fingerprint-scan_no_enrolado.png" alt="enrolado" width="20px" *ngIf="!contacto.enrolado">
                            <span class="ml-2" *ngIf="contacto.enrolado">ENROLADO</span>
                            <span class="ml-2" *ngIf="!contacto.enrolado">NO ENROLADO</span>
                        </div>
                          <div class="col-4">
                            <i class="fas fa-address-card tamanio-icono mr-2 text-primary" aria-hidden="true"></i> 
                             {{contacto.identificacion}} 
                             <span *ngIf="contacto.identificacion==null ">SIN IDENTIFICACION</span>
                         </div>
                         <div class="col-4">
                          <span  class="my-2"><strong> ROL: </strong>
                            <span class="badge badge-primary">{{contacto.rol}}</span>
                          </span>
                         </div>
                         <div class="col-4">
                          <strong> DESEA TARJETA: </strong>
                          <span *ngIf="contacto.desea_tarjeta"
                              [ngClass]="{'badge badge-success': contacto.desea_tarjeta}">Si</span>
                          <span *ngIf="!contacto.desea_tarjeta"
                              [ngClass]="{'badge badge-danger': !contacto.desea_tarjeta}">No</span>
                         </div>
                         <div class="col-4">
                          <i class="fas fa-phone tamanio-icono mr-2 text-primary" aria-hidden="true"></i> 
                          <span>
                            {{contacto.telefono[0].telefono}} 
                            <i *ngIf="contacto.telefono[0].validado" class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                            <i *ngIf="!contacto.telefono[0].validado" class="fa fa-times-circle-o text-danger" aria-hidden="true"></i>
                          </span>
                          <span *ngIf="contacto.telefono==null">
                            SIN TELEFONO
                          </span>
                         </div>
                        </div>
                      </div>
                      <div class="col-12">&nbsp;</div>
                </div>
              </div>
            <!-- FIN CONTACTOS  -->
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
</div>