.top{
    margin-top: 150px;
    height: 500px;
}

.tamanio-icono{
    font-size: 1.2em;
}

.tamanioText{
    font-size: 0.8rem;
}

.margenI{
    margin-left: 30px;
}
.scroll {
    height: 200px;
    min-height: 200px;
    overflow-y: scroll;
  }

.topContacto{
    margin-top: 15px;
}
.borde{
    border:1px solid #000;
}
.paddingCol{
    padding: 0px;
}
.col-1-d {
    -webkit-box-flex: 0;
    flex: 0 0 5%;
    max-width: 5;
}

.modal-body {
    height: 450px !important;
}