<app-filtro 
    [mostrarSucursal] = true 
    (getFiltroAplicado)="cosultar($event)"
></app-filtro>
<div class="row ">
    <div class="col-xl-2 col-md-2 mb-2 ml-2">
        <div class="card border-left-primary shadow py-2">
          <div class="card-body margen-carta">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 titulo" >Facturacion</div>
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Promedio por vehiculo</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">L {{graficaDatos.promedio_facturado_por_vehiculo | number : '1.0-0'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-md-2 mb-2">
        <div class="card border-left-primary shadow py-2">
          <div class="card-body margen-carta">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 titulo" >Estadia</div>
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">promedio por vehiculo </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{graficaDatos.promedio_horas_facurada_por_vehiculo}} horas</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-md-2 mb-2">
        <div class="card border-left-primary shadow py-2">
          <div class="card-body margen-carta">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 titulo" >Reclamos</div>
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Que Aplicaron</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{graficaDatos.cantidad_reclamos_aplicaron}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
</div>
<div class="row">
    <div class="col-xl-4 col-md-4 col-xs-12 text-center sombra"
    *ngIf="graficaDatos.indicador_vehiculos_ingresados"
    >
        <p>Vehiculos Ingresados {{graficaDatos.total_vehiculos_ingresados}}</p>
        <div class="chart-wrapper">
            <canvas baseChart 
            [data]="vehiculosIngresadosData"
            [labels]="labelsVehiculosIngresados"
            [chartType]="doughnutChartType">
          </canvas>
        </div>
        <p>Indice reclamo {{graficaDatos.indice_reclamos_aplicaron}}</p>
    </div>

    <div class="col-xl-4 col-md-4 col-xs-12 text-center sombra"
    *ngIf="graficaDatos.indicador_procesos"
    >
        <p>Total reprocesos {{graficaDatos.reprocesos}}</p>
        <div class="chart-wrapper">
            <canvas baseChart 
            [data]="reprocesoData"
            [labels]="labelsReprocesos"
            [chartType]="doughnutChartType">
          </canvas>
        </div>
        <p>Indice reproceso {{graficaDatos.indice_reprocesos}}</p>
    </div>

    <div class="col-xl-4 col-md-4 col-xs-12 text-center sombra"
    *ngIf="graficaDatos.indicador_total_facturado"
    >
        <p>Total facturado</p>
        <div class="chart-wrapper">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-md-4 col-xs-12 text-center sombra"
    *ngIf="graficaDatos.indicador_horas_hombre"
    > 
        <p>Horas Hombre</p>
        <div class="chart-wrapper">
            <canvas baseChart 
            [data]="horasHombresData"
            [labels]="labelsHorasHombre"
            [chartType]="doughnutChartType">
          </canvas>
        </div>
    </div>
</div>
<br>