<app-filtro 
[mostrarSucursal] = true 
[mostrarAsesores]= true 
[mostrarOrigenDatos]=true
[mostrarMultiDato]=true
[ocultarOpcionSucursal]=true
(getFiltroAplicado)="consultar($event); filtrosAplicados=$event" ></app-filtro>
<div class="row">
    <div class="col-12">
          <span *ngIf="filtrosAplicados.fecha_desde"> <span style="font-weight: 700;">Desde:</span>  {{filtrosAplicados.fecha_desde}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.fecha_hasta"> <span style="font-weight: 700;">Hasta:</span>  {{filtrosAplicados.fecha_hasta}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.datos_seleccionado"> <span style="font-weight: 700;">Datos por:</span>  {{filtrosAplicados.datos_seleccionado}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.sucursal_seleccionado"> <span style="font-weight: 700;">Sucursal:</span>  {{filtrosAplicados.sucursal_seleccionado}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.valores_seleccionado"> <span style="font-weight: 700;">Valores:</span>  {{filtrosAplicados.valores_seleccionado}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.aplicabilidad_seleccionado"> <span style="font-weight: 700;">Aplicabilidad:</span>  {{filtrosAplicados.aplicabilidad_seleccionado}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.fuente_seleccionado"> <span style="font-weight: 700;">Fuente:</span>  {{filtrosAplicados.fuente_seleccionado}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.reclamos_seleccionado"> <span style="font-weight: 700;">Reclamo por:</span>  {{filtrosAplicados.reclamos_seleccionado}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.asesores_seleccionado"> <span style="font-weight: 700;">Asesores:</span>  {{filtrosAplicados.asesores_seleccionado}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.tecnicos_seleccionado"> <span style="font-weight: 700;">Tecnicos:</span>  {{filtrosAplicados.tecnicos_seleccionado}} </span> &nbsp;
          <span *ngIf="filtrosAplicados.empleados_seleccionado"> <span style="font-weight: 700;">Empleados :</span>  {{filtrosAplicados.empleados_seleccionado}} </span> &nbsp;
    </div>
</div>

<div class="row  mb-3 ml-1 mr-1">
    <div class="col-12">
        <div class="row">
            <div class="col-12 card-primary">
                <div class="row">
                    <div class="col-12 text-center franja text-white">
                        <h6>Cumplimiento de tareas diarias</h6>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 tabla-principal">
                        <table class="table table-sm table-striped" id="tablaTalleres" #tablaTalleres>
                            <thead>
                                <tr>
                                    <th>Dia semana</th>
                                    <th class="text-right">Total tareas</th>
                                    <th class="text-right">Tareas cumplidas</th> 
                                    <th class="text-right">% Cumplido</th> 
                                    <th class="text-right">Tiempo no cumplido Hrs</th>    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of datosReclamos">
                                    <td>{{data.dia_semana}}</td>
                                    <td class="text-right">{{data.total_tareas  }}</td>
                                    <td class="text-right">{{data.tareas_cumplidas}}</td>  
                                    <td class="text-right">{{data.porcentaje_cumplidas}}</td> 
                                    <td class="text-right">{{data.tiempo_no_cumplido}}</td> 
                                </tr>
                                <tr >
                                    <td class="total">Totales </td>
                                    <td class="total text-right">{{totales.total_tareas  | number : '1.0-0'}}</td>
                                    <td class="total text-right">{{totales.tareas_cumplidas | number : '1.0-0' }}</td>
                                    <td class="total text-right">{{totales.porcentaje_cumplidas | number : '1.0-0' }}</td>
                                    <td class="total text-right">{{totales.tiempo_no_cumplido  | number : '1.0-0'}}</td>
                                    
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 