<ngx-spinner [name]="'loading'"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-6">
            <input type="text"
            class="top"
            placeholder="Hoy"
            ngxDaterangepickerMd
            [(ngModel)]="selected"
            placeholder="Hoy"
            [locale]="{applyLabel: 'aceptar', format: 'YYYY-MM-DD'}"
            class="form-control"
            (ngModelChange)="seleccionarFecha($event)"
            />
      </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4 col-sm-12 col-md-8">
            <app-productos-count  titulo="Data" imagen="assets/img/CountIcon/phone.png" [count]="llamadas.count" ></app-productos-count>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6 " >
            <h5>Detalle de llamadas entrantes</h5>
            <div class="table-responsive divTabla">

                <table class="table  table-sm table-striped   ">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Cant.</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let llamada of llamadas.llamadas">
                        <th scope="row">{{llamada.dst}}</th>
                        <td  >{{llamada.name}}</td>
                        <td  >
                        <span class="badge badge-pill badge-primary">{{llamada.count}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <!-- <div class="row bg-primary">
        <cdk-virtual-scroll-viewport itemSize="5" class="example-viewport">
            <div *cdkVirtualFor="let item of llamadas" class="example-item">{{item.extencion}}</div>
          </cdk-virtual-scroll-viewport>
    </div> -->
</div>
