<div class="container">
         <div class="col-lg-12 ">
            <div class="row  "> 
              <div class="col-md-3 ">
                <select class="input">
                  <option value="0">Sucursales</option>
                  <option *ngFor="let sucursal of sucursales" [value]="sucursal.sucursal">
                    {{sucursal.descripcion}}
                  </option>
                </select>
            </div>
          <div class="col-md-6">
              <select class="input">
                <option value="0">Mes de Fill Rate</option>
                <option *ngFor="let mes of meses" [value]="mes.id_mes">
                  {{mes.descripcion}}
                </option>
              </select>
          </div>
          <div class="col-md-12 " *ngFor="let tabla of dataGuardado">
              <div class="container " >
                <div class="row mt-5 d-flex ">
                  <div class="tablafill table-responsive">
                    <table class="table table-sm tabla">
                      <thead >
                        <tr class="">
                          <td scope="col" colspan="2">
                            Sucursal {{tabla.header.sucursal}}
                          </td>
                          <td scope="col" colspan="2">
                            Guardado de Mercaderia
                          </td>
                          <td scope="col" colspan="3">
                            {{tabla.header.mes_anio}}
                          </td>
                        </tr >
                      </thead>
                      <tbody>
                        <tr class="tr ">
                          <th scope="row">Semana</th>
                          <th>Guardado</th>
                          <th>Desaciertos</th>
                          <th colspan="2">Error Porcentual</th>
                          <td  rowspan="6"  class="borde">
                            <div class="flex">
                              <div class="flex-item">
                                <div style="display: block;" class="top">
                                  <app-radial [data]="date"></app-radial>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td rowspan="3"  >
                              <h3>{{tabla.grafica.guardado}}</h3>
                              <h6>Guardado</h6>
                          </td>
                          <td rowspan="3"  >
                              <h3>{{tabla.grafica.solicitudes}}</h3>
                              <h6>Solicitudes</h6>
                          </td>
                        </tr>
                        <tr class="tr" *ngFor="let item of tabla.fill let i=index;">
                          <td>{{item.semana}} </td>
                          <td>{{item.guardado}}</td>
                          <td>{{item.desaciertos}}</td>
                          <td colspan="2">{{item.error_porcentual}}</td>
                          <td rowspan="3" *ngIf="i==2">
                              <h3>{{tabla.grafica.devynula}}</h3>
                              <h6>Devoluciones y</h6>
                              <h6>anulaciones</h6>
                          </td>
                          <td rowspan="3" *ngIf="i==2">
                              <h3>{{tabla.grafica.pendiente_guardar}}</h3>
                              <h6>Pendiente </h6>
                              <h6>de Guardar</h6>
                          </td>
                        </tr>  
                        <tr>
                          <td>Total</td>
                          <td>{{tabla.fill_sumary.guardado}}</td>
                          <td>{{tabla.fill_sumary.desaciertos}}  <img src="assets/icons/more.png" width="20px" height="20px" (click)="mostrarCausas()"></td>
                          <td colspan="2">{{tabla.fill_sumary.error_porcentual}}</td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                      <div class="table-responsive tcausa" *ngIf="trOculto">
                        <table class="table table-sm tablaCausa" > 
                          <thead>
                            <th colspan="5">Detalle de guardado de mercaderia</th>
                          </thead>
                          <tbody class="tbodyCausas">
                            <tr class="tr">
                              <td><b>Nombre</b></td>
                              <td><b>Total Guardado</b></td>
                              <td><b>Desaciertos</b></td>
                              <td><b>Sin Supervición</b></td>
                              <td><b>Error Porcentual</b></td>
                            </tr>
                            <tr *ngFor="let item of tabla.detalle_guardado" class="tr">
                            <td>{{item.nombre}}</td>
                            <td>{{item.total_guardado}}</td>
                            <td>{{item.desaciertos}}</td>
                            <td>{{item.sin_sup}}</td>
                            <td>{{item.error_porcentual}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
              </div>
          </div>
      </div> 
    </div>
</div>
