.tabs{
    background-color: #EF1F1F;
    color: white;
    text-align: center;
    border-right: white 1px solid;
} 

.circulo{
    float: right;
    background-color: white;
    border-radius: 25px;
    padding: 1px;
    text-align: center;
    color: #EF1F1F;
    width: 25px;
    height: 25px;
    margin-top: 1px;
    /* En el futuro comentar el font size */
    font-size: 8px;
}

/* .row{
    height: 30px !important;
} */

.card{
    background-color: #003F87;
    /* color: white; */
    /* border-radius: 10px; */
}


.fondotr{
    background-color: #003F87;
    color: white; 
}

.borde-redondo{
    border-radius: 20px;
}
.banda{
    background-color: #0A53A5;
    color: white;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 5px;
}

.check{
    background-color: #ff8f00;
}
.tr{
    background-color: #ffffff;
    color: #575454;
}

.trOculto{
    background-color: #ff8f00;
}

.tdOcultoList{
    background-color: #ffffff;
    color: #575454;
}


.tdOculto {
    padding: 5px;
    border-top: 0px;
    border-right: 0px;
    /* border-bottom: 1px solid black; */
    border-left: 0px;
}
.tabla{
    /* background-color: white; */
    background-color: #0A53A5;
    color:#ffffff;
    
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}


  

.tablaCausa{
    background-color: #ff8f00;
    color:#ffffff;
    width: 100%;
    height: 100px;
    text-align: center;
}

.tabla th{
    border-top: none;
}

.texto{
    color: white;
    text-align: center;
}


.borde{
        border:1px solid #000000;
}

.top{
    margin-top:25px;
}

.input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mat-checkbox{
    display: inline-block;
    height: 16px;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 16px;
    flex-shrink: 0;
    background-color: #ff8f00;
}

table {
    border-collapse: collapse       ;
}

/* .tbodyCausas {
    height: 10px;
    overflow-y: auto;
    overflow-x: hidden;
} */

.tcausa{
    height: 250px;
}

.tablafill{
    width: 100% important;
}
@media (max-width: 600px) {
    .facet_sidebar {
      display: none;
    }
  }