<ngx-spinner [name]="'loading'"  ><p style="color: white" > Cargando... </p></ngx-spinner>


<div class="container">
  <br>
    <div class="row ">
      <div class="col-md-3 " >
        <select class="input " [(ngModel)]="sucursal">
          <option value="0">Sucursales </option>
          <option *ngFor="let sucursal of sucursales" [value]="sucursal.sucursal">
            {{sucursal.descripcion}}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="input" [(ngModel)]="mes">
          <option value="0">Mes de Fill Rate</option>
          <option *ngFor="let mes of meses" [value]="mes.id">
            {{mes.descripcion}}
          </option>
        </select>
      </div>
      <div class="col-lg-2 col-md-3 col-xs-12">
        <button class="btn btn-danger  btn-block" (click)="buscar_fill_rate()">Ver</button>
      </div>
    </div>

    <div class="principal " *ngFor="let tabla of dataFill; let i = index;"  >

        <div class="row  header ">
          <div class="col-3 align-self-center ">
            <div class="row justify-content-start ">
           &nbsp;&nbsp;  {{tabla.header.sucursal}}
            </div>
          </div>
          <div class="col-6 align-self-center">
            <div class="row justify-content-center ">
              <div class="encabezado">
                &nbsp;&nbsp;{{tabla.header.titulo}} &nbsp;&nbsp;
              </div>
            </div>
        </div>
        <div class="col-3 align-self-center">
          <div class="row justify-content-end">
            {{tabla.header.anio}} &nbsp;&nbsp;&nbsp;
          </div>
        </div>
            <!-- <div class="col-4 text-center">{{tabla.header.anio}}</div> -->

        </div>

    

      <div class="row " *ngIf="!esMobil" >
         <div class="col-sm-12 col-md-6 col-lg-6  ">
             <div class="row vertical-line ">
               <table *ngIf="serialId==i" #tableSolicitudes class="table table-sm table-striped place-grafica"  >
                 <thead>
                     <tr  class="justify-content-center" [ngClass]="{'header-movile': esMobil==true}">
                         <th>Semana</th>
                         <th>Solicitado</th>
                         <th>Entregado</th>
                         <th>Diferencia</th>
                        <th>Porcentaje  <i class="far  fa-clipboard fa-lg" (click)="copiarTable(1,i)"></i></th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let fill of tabla.data_fill" class="trDesktop" >
                        <td>{{fill.semana}}</td>
                        <td>{{fill.cant_solicitada}}</td>
                        <td>{{fill.cant_encontrada}}</td>
                        <td>{{fill.diferencia}}</td>
                        <td>{{fill.porcentaje | number: '1.2-2'}} %</td>
                      </tr>
                    </tbody>
                  </table>
                  <table *ngIf="serialId!=i"  class="table table-sm table-striped place-grafica"  >
                    <thead>
                        <tr  class="justify-content-center" [ngClass]="{'header-movile': esMobil==true}">
                            <th>Semana</th>
                            <th>Solicitado</th>
                            <th>Entregado</th>
                            <th>Diferencia</th>
                           <th>Porcentaje  <i class="far  fa-clipboard fa-lg" (click)="copiarTable(1,i)"></i></th>
                         </tr>
                       </thead>
                       <tbody >
                         <tr *ngFor="let fill of tabla.data_fill" class="trDesktop" >
                           <td>{{fill.semana}}</td>
                           <td>{{fill.cant_solicitada}}</td>
                           <td>{{fill.cant_encontrada}}</td>
                           <td>{{fill.diferencia}}</td>
                           <td>{{fill.porcentaje | number: '1.2-2'}} %</td>
                         </tr>
   
                       </tbody>
   
                     </table>

             </div>

                  <div class="row   bg-azul vertical-line "  [ngClass]="{'border-summary': tabla.header.mostrar==false}">
                    <table class="table-striped">
                      <thead>
                        <tr class="justify-content-center">
                          <th scope="col">Total</th>
                          <th scope="col">{{tabla.summary[0].cant_solicitada}}</th>
                          <th scope="col">{{tabla.summary[0].cant_encontrada}}</th>
                          <th scope="col"> {{tabla.summary[0].diferencia}}
                            <span *ngIf="!tabla.header.mostrar"  (click)="verDetalle(i,tabla)"><i class="fas fa-chevron-circle-down"></i></span>
                            <span *ngIf="tabla.header.mostrar"  (click)="verDetalle(i,tabla)"> <i class="fas fa-chevron-circle-up"></i></span></th>
                          <th scope="col">{{tabla.summary[0].porcentaje | number :'1.2-2'}} %</th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 no-padding vertical-line-grafica">
                <app-grafica-lineal class="place-grafica" [fill]="tabla.data_fill"></app-grafica-lineal>
            </div>
    </div> 
 

        <div *ngIf="esMobil">
         <div class="row" >
             <div class="col-sm-12 col-md-6 col-lg-6 ">
              <app-grafica-lineal class="place-grafica" [fill]="tabla.data_fill"></app-grafica-lineal>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-6  table-responsive">
                 <div class="table-responsive place-chart">
                     <table *ngIf="serialId==i" #tableSolicitudes class="table table-sm table-striped">
                          <thead>
                              <tr>
                                  <th>Semana</th>
                                  <th>Sol</th>
                                  <th>Ent</th>
                                  <th>Dif</th>
                                 <th>%</th>
                               </tr>
                             </thead>
                             <tbody >
                               <tr  *ngFor="let fill of tabla.data_fill">
                                <td>{{fill.semana}}</td>
                                <td>{{fill.cant_solicitada}}</td>
                                <td>{{fill.cant_encontrada}}</td>
                                <td>{{fill.diferencia}}</td>
                                <td>{{fill.porcentaje | number: '1.2-2'}} %</td>
                               </tr>
                             </tbody>
                     </table>
                     <table *ngIf="serialId!=i"  class="table table-sm table-striped">
                      <thead>
                          <tr>
                              <th>Semana</th>
                              <th>Sol</th>
                              <th>Ent</th>
                              <th>Dif</th>
                             <th>%</th>
                           </tr>
                         </thead>
                         <tbody >
                           <tr  *ngFor="let fill of tabla.data_fill">
                            <td>{{fill.semana}}</td>
                            <td>{{fill.cant_solicitada}}</td>
                            <td>{{fill.cant_encontrada}}</td>
                            <td>{{fill.diferencia}}</td>
                            <td>{{fill.porcentaje | number: '1.2-2'}} %</td>
                           </tr>
                         </tbody>
                 </table>
                 </div>
            </div>


        </div>
                <div class="row  bg-azul text-center celTxt">
                    <div class="col-3 ">
                        TOTAL
                    </div>
                    <div class="col-2 bg-azul">
                      {{tabla.summary[0].cant_solicitada}}
                    </div>
                    <div class="col-2 bg-azul">
                      {{tabla.summary[0].cant_encontrada}}
                    </div>
                    <div class="col-2 bg-azul">
                      {{tabla.summary[0].diferencia}}
                      <!-- <span *ngIf="!tabla.header.mostrar"  (click)="verDetalle(i,tabla)"><i class="fas fa-chevron-circle-down"></i></span>
                      <span *ngIf="tabla.header.mostrar"  (click)="verDetalle(i,tabla)"> <i class="fas fa-chevron-circle-up"></i></span> -->
                    </div>
                    <div class="col-3 bg-azul">
                      {{tabla.summary[0].porcentaje | number :'1.2-2'}} %
                    </div>
                </div>
        </div>
 
        <div class="row " (click)="verDetalle(i,tabla)" *ngIf="esMobil==true">
            <div class="col-12 ver-mas text-center bg-azul sumary" [ngClass]="{'no-border': tabla.header.mostrar}">
                <span *ngIf="!tabla.header.mostrar"><i class="fas fa-chevron-circle-down"></i></span>
                <span *ngIf="tabla.header.mostrar"> <i class="fas fa-chevron-circle-up"></i></span>
            </div>
        </div>
   
         <div class="row" *ngIf="tabla.header.mostrar && !esMobil">
            <div class="col-12">

                <div class="second-table">
                    <div class="row">
                        <div class="col-6 encabezado-second-table">
                            Causa en Fill Rate de {{tabla.header.titulo}} 
                        </div>
                        <div class="col-6 encabezado-second-table">Detalle De Productos</div>
                    </div>

                    <div class="row vertical-line">
                        <div class="col-6 table-responsive place-chart">
                            <table *ngIf="serialId==i" #tableCausas class="table table-sm table-striped place-chart">
                                <thead>
                                  <tr>
                                    <th scope="col">Filtro</th>
                                    <th scope="col">Causa</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Porcentaje</th>
                                    <th scope="col">Ver  <i class="far  fa-clipboard fa-lg" (click)="copiarTable(2,i)"></i></th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr *ngFor="let causa of tabla.causas; let icausa=index">
                                    <td  scope="col-1" class=""><input type="checkbox" [checked]="causa.filtro" (click)="filtrar(causa,i,icausa)"  ></td>
                                    <td  class="text-left">{{causa.descripcion}}</td>
                                    <td>{{causa.cantidad}}</td>
                                    <td>{{causa.porcentaje | number : '1.2-2'}}</td>
                                    <td> <input type="checkbox" [checked]="causa.mostrar" (click)="mostrarCausa(i,causa)"  >
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table *ngIf="serialId!=i" class="table table-sm table-striped place-chart">
                                <thead>
                                  <tr>
                                    <th scope="col">Filtro</th>
                                    <th scope="col">Causa</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Porcentaje</th>
                                    <th scope="col">Ver  <i class="far  fa-clipboard fa-lg" (click)="copiarTable(2,i)"></i></th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr *ngFor="let causa of tabla.causas; let icausa=index;">
                                    <td  scope="col-1" class=""><input type="checkbox" [checked]="causa.filtro" (click)="filtrar(causa,i,icausa)" ></td>
                                    <td  class="text-left">{{causa.descripcion}}</td>
                                    <td>{{causa.cantidad}}</td>
                                    <td>{{causa.porcentaje | number : '1.2-2'}}</td>
                                    <td> <input type="checkbox" [checked]="causa.mostrar" (click)="mostrarCausa(i,causa)"  >
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>

                        <div class="col-6 table-responsive place-chart">
                            <table *ngIf="serialId==i" #tableProductos class="table table-sm table-striped place-chart">
                                <thead>
                                  <tr >
                                    <th scope="col">Causa</th>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Cantidad <i class="far  fa-clipboard fa-lg" (click)="copiarTable(3,i)"></i></th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr *ngFor="let detalle of tabla.detalle_causas" [ngClass]="{'ocultaTr': !detalle.mostrar}">
                                    <td class="text-left">{{detalle.descripcion}}</td>
                                    <td>{{detalle.codigoproducto}}</td>
                                    <td>{{detalle.cantidad}}</td>
                                  </tr>
                                </tbody>
                         </table>
                         <table *ngIf="serialId!=i"  class="table table-sm table-striped place-chart">
                          <thead>
                            <tr >
                              <th scope="col">Causa</th>
                              <th scope="col">Codigo</th>
                              <th scope="col">Cantidad <i class="far  fa-clipboard fa-lg" (click)="copiarTable(3,i)"></i></th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr *ngFor="let detalle of tabla.detalle_causas" [ngClass]="{'ocultaTr': !detalle.mostrar}">
                              <td class="text-left">{{detalle.descripcion}}</td>
                              <td>{{detalle.codigoproducto}}</td>
                              <td>{{detalle.cantidad}}</td>
                            </tr>
                          </tbody>
                   </table>

                        </div>
                    </div>

                    <div class="row text-center ">
                        <div class="col-6 bg-azul sumary-second-table-border-blue text-right">
                                <table class="table-striped">
                                  <thead>
                                    <tr class="justify-content-center">
                                      <th scope="col"  class="text-left">Total</th>
                                      <th scope="col">{{tabla.causas_summary[0].cantidad}}</th>
                                      <th scope="col">{{tabla.causas_summary[0].porcentaje}} %</th>
                                      <th scope="col"></th>
                                    </tr>
                                  </thead>
                                </table>
                        </div>
                        <div class="col-6 bg-naranja sumary-second-table-border-orange">
                            <table class="table-striped">
                              <thead>
                                <tr class="justify-content-center">
                                  <th scope="col"  class="text-left">Total</th>
                                  <th scope="col"></th>
                                  <th scope="col">{{causaDetalle(i)}}</th>
                                </tr>
                              </thead>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div *ngIf="tabla.header.mostrar && esMobil">
             <div class="row vertical-line" >

                <div class="col-sm-12 col-md-6 col-lg-6 no-padding">
                    <h6 class="encabezado-second-table">Causa en Fill Rate de {{tabla.header.titulo}}</h6>
                        <div class="table-responsive place-tables">
                            <table class="table table-sm table-striped  vertical-line">
                                <thead>
                                  <tr>
                                    <th scope="col">Filtro</th>
                                    <th scope="col">Causa</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Porcentaje</th>
                                    <!-- <th scope="col">Acumulado</th> -->
                                    <th scope="col">Ver</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let causa of tabla.causas; let icausa=index;">
                                    <td  scope="col-1" class=""><input type="checkbox" [checked]="causa.filtro" (click)="filtrar(causa,i,icausa)" ></td>
                                    <td class="text-left">{{causa.descripcion}}</td>
                                    <td>{{causa.cantidad}}</td>
                                    <td>{{causa.porcentaje | number : '1.2-2'}} %</td>
                                    <!-- <td>{{causa.promedio | number : '1.2-2'}}</td> -->
                                    <td> <input type="checkbox" [checked]="causa.mostrar" (click)="mostrarCausa(i,causa)"  >
                                  </tr>

                                </tbody>
                              </table>
                            </div>
                </div>
                     <div class="col-12 bg-azul display-inline">
                          <table class="table-striped">
                            <thead>
                              <tr class="justify-content-center">
                                <th scope="col"  class="text-left">Total</th>
                                <th scope="col">{{tabla.causas_summary[0].cantidad}}</th>
                                <th scope="col">{{tabla.causas_summary[0].porcentaje}} %</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                          </table>
                     </div>
                <div class="col-sm-12 col-md-6 col-lg-6 no-padding  ">
                    <h6 class="encabezado-second-table">Detalle productos</h6>
                    <div class="table-responsive place-tables  vertical-line">
                        <table class="table table-sm table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Causa</th>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Cantidad</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let detalle of tabla.detalle_causas" [ngClass]="{'ocultaTr': !detalle.mostrar}">
                                    <td  class="text-left">{{detalle.descripcion}}</td>
                                    <td>{{detalle.codigoproducto}}</td>
                                    <td>{{detalle.cantidad}}</td>
                                  </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 bg-naranja text-right">
                    <table class="table-striped">
                      <thead>
                        <tr class="justify-content-center">
                          <th scope="col"  class="text-left">Total</th>
                          <th scope="col"></th>
                          <th scope="col">{{causaDetalle(i)}}</th>
                        </tr>
                      </thead>
                    </table>
               </div>
        </div>
        </div>  
     
    </div>
</div>
