
.fill-rate{
    margin-top: 1px;
    background-color: red;
    text-align: center;
    border-radius: 10px;
}

.bg-azul{
    background-color: #003F87;
    color: white;
}
.bg-naranja{
    background-color: #E67E22;
    color: white;
}
.sumary{
    border-bottom-left-radius: 10px;
}
.txt-sumary{
    color: white;
    font-weight: 500;
    text-align: end;
    font-size: 12px;
}

.encabezado-second-table{
    background-color: #E67E22;
    color: white;
    text-align: center;
}

.sumary-second-table-border-blue{
    border-radius: 0px 0px 0px 5px;
}
.sumary-second-table-border-orange{
    border-radius: 0px 0px 5px 0px;
}
.no-border{
    border-radius: 0px;
}


.place-tables{
    min-height: 220px !important;
    max-height: 220px !important;
}

.place-chart{
    min-height: 220px !important;
    max-height: 220px !important;
}

.table-responsive{
    padding: 0px;
}

.no-padding{
    padding: 0px;
}
.celTxt{
  font-size: 0.7rem !important;
}
.input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 20px;
    outline: none;
  }

  .borde{
      border:2px solid #000000;
  }

  .principal{
      margin-top: 20px;
  }
.place-grafica{

    min-height: 160px;
    max-height: 160 px;
}

.ocultaTr{
    display:none !important;
}
/*
 tr {
    display:table;
    width:100%;
    table-layout:fixed;
    font-size: 0.7rem;
    text-align: center;
  } */

  .header{
    background: #003f87;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
  }

  .encabezado{
    background: red;
    border-radius: 25px;
    color: #fff;
    /* width: 60%; */
    font-size: 1rem;
    margin: 5px;
    text-align: center;
  }

  .trDesktop{
    height: 30px;
    font-size: 30px;
  }

.header-movile{
    background: #003f87;
    color: #fff;
    font-weight: bold;
    font-size: 0.6rem;
  }

  tbody {
    display:block;
    height:170px;
    overflow:auto;
    font-size: 0.7rem;
    text-align: center;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    font-size: 0.7rem;
    text-align: center;
  }

  .grafica{
      height: 5px;
      width: 5px;
  }

  .divTotalSpan{
    margin-top: -10px;
}


.border-summary{
    border-bottom-left-radius: 10px;

  }

@media (max-width: 770px) {
    .header{
      background: #003f87;
      color: #fff;
      font-weight: bold;
      font-size: 0.7rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
     height: 50px;
    }
    .encabezado{
      background: red;
      border-radius: 25px;
      color: #fff;
      /* width: 60%; */
      font-size: 1rem;
      margin: 5px;
      text-align: center;
    }

    .border-summary{
      border-bottom-left-radius: 10px;
      height: 25px;
    }

    tbody {
      display:block;
      height:auto;
      overflow:auto;
      font-size: 0.7rem;
      text-align: center;
    }
    thead, tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
      font-size: 0.7rem;
      text-align: center;
    }
  

  }

  .horizontal-line{
    border-top: 1px solid #d0cdcd;
    border-bottom: 1px solid #d0cdcd;
  }
  
  .vertical-line{
    border: 1px solid #d0cdcd;
    /* border-bottom: 1px solid #d0cdcd; */
  }
  .bot-line{
    border-bottom: 1px solid #d0cdcd;
  }
  
  .vertical-line-grafica{
    border: 1px solid #d0cdcd;
    box-shadow: 1px 1px 5px 0px  #aeafb5;
    border-bottom-right-radius: 10px;
    /* border-bottom: 1px solid #d0cdcd; */
  }