<div bsModal #modalEdicionCliente="bs-modal" class="modal fade fondomodall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
    <div class="modal-content redondear">
      <div class="modal-header bg-primary text-white">
        <span *ngIf="edicionCreacion">
          EDITAR CLIENTE
        </span>
        <span *ngIf="!edicionCreacion">
          CLIENTE NUEVO
        </span>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-4">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <small for="inputAddress">NOMBRE LEGAL: </small>
                      <input type="text" class="form-control text-uppercase"
                      [disabled]="true" >
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <small for="inputAddress">NOMBRE COMERCIAL: </small>
                      <input type="text" class="form-control text-uppercase"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                  <div class="card">
                      <div class="card-header">
                          DIRECCION
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-6">
                                <div class="form-group">
                                  <small for="inputAddress">PAIS: </small>
                                    <select class="form-control not-validate" id="pais" name="pais">
                                      <option *ngFor="let pais of [1,2,3,4] " [value]="pais">{{pais}}</option>
                                    </select>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-group">
                                  <small for="inputAddress">ESTADO / DEPARTAMENTO: </small>
                                    <select class="form-control not-validate" id="estado" name="estado">
                                      <option *ngFor="let departamento of [1,2,3,4] " [value]="departamento">{{departamento}}</option>
                                    </select>
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="form-group">
                                  <small for="inputAddress">CIUDAD / MUNICIPIO: </small>
                                    <select class="form-control not-validate" id="departamento" name="departamento" >
                                      <option *ngFor="let municipio of [1,2,3,4] " [value]="municipio">{{municipio}}</option>
                                    </select>
                                </div>

                              </div>
                              <div class="col-6">
                                  <div class="form-group">
                                      <small for="inputAddress">DIRECCION CALLE AVENIDA: </small>
                                      <input type="text" class="form-control text-uppercase"
                                      >
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="form-group">
                                      <small for="inputAddress">BARRIO COLONIA ZONA: </small>
                                      <input type="text" class="form-control text-uppercase"
                                      >
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-group">
                                      <small for="inputAddress">REFERENCIA: </small>
                                      <input type="text" class="form-control text-uppercase"
                                      >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <small for="inputAddress">TIPO CLIENTE: </small>
                                    <select class="form-control not-validate" id="tipoCliente" name="tipoCliente">
                                      <option *ngFor="let tipo of [1,2,3,4] " [value]="tipo">{{tipo}} &nbsp; {{tipo}}</option>
                                    </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <small for="inputAddress">SUCURSAL: </small>
                                    <select class="form-control not-validate" id="sucursal" name="sucursal">
                                      <option *ngFor="let sucursal of [1,2,3,4] " [value]="sucursal">{{sucursal}} &nbsp; {{sucursal}}</option>
                                    </select>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row  ml-2 mt-3">
            <button class="btn btn-outline-primary">SELECCIONAR UN NUEVO CONTACTO</button>
          </div>

          <div class="row float-right mr-2 mt-3">
            <button class="btn btn-primary">ACEPTAR</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
