  <ngx-spinner [name]="'loading'"  ><p style="color: white" > Cargando... </p></ngx-spinner>



<div class="container-fluid">

<div class="row  d-flex justify-content-center mt-2"*ngFor="let solicitud of solicitudes">

    <div class="col-sm-11 col-md-8 col-lg-6 col-xl-6  card " >
      <div class="row mt-3 titulo-carta" (click)="desplegarDetalles(solicitud)">
        <div class="col-9 text-center">
          <h6>Solicitud de {{solicitud.titulo}}</h6>
        </div>
        <div class="col-2">
          <p class="circulo   p-1">{{solicitud.contador}}</p> </div>
      </div>

      <div *ngIf="solicitud.mostrar">
        <div class="row">
          <div class="line-white"></div>      
        </div>

      <div class="row mt-2 " >
        <div class="col-12 " (click)="desplegarTabla(detalle)" *ngFor="let detalle of solicitud.bitacora">

          <div class="cono mt-2 mb-2 " >
            <div class="urgente" *ngIf="detalle.urgente"  [style.background-color]="detalle.color">{{detalle.titulo}}</div>
            <div >
              <div class="row p-2 text-center">
                <div class="col-5 titulo no-padding"># {{detalle.numerodocumento}}</div>
                <div class="col-3 titulo no-padding">C:{{detalle.cantidad}}</div>
                <div class="col-4 titulo no-padding">{{detalle.fecha}}</div>
              </div>
  
              <div class="row no-margin pb-2 ">
                <div class="col-6 descripcion no-padding titulo">{{detalle.estado}}</div>
                <div class="col-6 descripcion no-padding titulo">{{detalle.solicita}}</div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-12 text-center"  >
                <span *ngIf="!detalle.mostrar" ><i class="fas fa-chevron-down"></i></span>
                <span *ngIf="detalle.mostrar"><i class="fas fa-chevron-up"></i></span>
              </div>
            </div> -->


            <table class="table table-striped table-sm tabla" *ngIf="detalle.mostrar">
              <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Responsable</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tracking of detalle.detalle">
                  <td>{{tracking.hora}}</td>
                  <td>{{tracking.descripcion}}</td>
                  <td>{{tracking.nombre}}</td>
                </tr>
              </tbody>
            </table>
          </div>



        </div>
      </div>
      </div>






      <!-- <div class="row text-center">
                <div class="datosEncabezado text-center mt-3" >
                    <h5 class="text-center">124 Compras / 265 Productos</h5>
                </div>
            </div>
        <div class="row mt-3">
            <div class="col-12 banda"  > VER MAS <i class="fas fa-arrow-circle-right"></i></div>
        </div> -->




    </div>
  </div>
</div>