.tabs{
    background-color: #EF1F1F;
    color: white;
    text-align: center;
    border-right: white 1px solid;
}

.circulo{
    float: right;
    /* background-color: white; */
    border-radius: 25px;
    padding: 1px;
    text-align: center;
    color: #ffffff;
    /* width: 25px; */
    height: 25px;
    margin-top: -10px;
    /* En el futuro comentar el font size */
    font-size: 1.2rem;
}



.card{
    background-color: #003F87;
    color: white;
    border-radius: 10px;
}

.banda{
    background-color: #0A53A5;
    color: white;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 5px;
}

.tabla{
    background-color: white;
    color: #575454;
    text-align: center;
    font-size: 12px !important;
    
}

.tabla th{
    border-top: none;
}

.texto{
    color: white;
    text-align: center;
}

.line-white{
    border-bottom: 1px white solid;
    width: 100%;
}
.line-gray{
    border-bottom: 1px #cacaca solid;
    width: 90%;
}

.cono{
    background-color: white;
    color: #575454;
    border-radius: 10px;
    padding: 1px;
}
.titulo{
    font-weight: bold;
    font-size: 10px;
}
.titulo-carta{
    font-weight: bold;
    font-size: 12px;
}
.descripcion{
    font-size: 12px;
    text-align: center;
}

.urgente{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 12px;
    background-color: #EF1F1F;
    text-align: center;
    color: white;

}

.urgente-amarillo{
    background-color: #FFC107;
}
.urgente-naranja{
    background-color: #ef6b1f;
}
.urgente-rojo{
    background-color: #EF1F1F;
}



 .no-padding{
     padding: 1px;
 }
 .no-margin{
     margin: 0px;
 }