<div class="card mt-2">
  <div class="card-header bg-primary text-white">
    <i class="fa fa-pencil-square-o pointer float-right"
    tooltip="Editar cliente"  aria-hidden="true" (click)="mostrarEdicion()"></i>
  </div>
  <div class="card-body">
    <div class="row mt-3 ">
      <div class="col-12">
          <div class="d-flex">
              <i class="fa fa-briefcase tamanio-icono text-primary mr-3"
                  aria-hidden="true"></i>
              <div>
                  <small tooltip="Nombre Legal">
                      NL-
                  </small>
                  <small>
                      ALBERTO LOPEZ
                  </small><br>
                  <small tooltip="Nombre Comercial" >
                      NC-
                  </small>
                  <small  >
                      ALBERTO JOSE LOPEZ
                  </small>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
