<ngx-spinner [name]="'loading'"><p style="color: white" > Cargando... </p></ngx-spinner>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-5 col-xs-12">
      <input type="text"
                class="top"
                ngxDaterangepickerMd
                [(ngModel)]="selected"
                placeholder="Esta semana"
                [locale]="{applyLabel: 'aceptar', format: 'DD-MM-YYYY'}"
                class="form-control"
                (ngModelChange)="ngModelChange($event)"
                />
    </div>

  </div>
  <div class="row">
    <div class="col-lg-3 col-md-5 col-xs-12">
      <app-productos-count [titulo]="data.counter.titulo"
                           [imagen]="data.counter.imagen"
                           [count]="data.counter.count">
      </app-productos-count>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 aportaciones" *ngFor="let item of data.data">
      <div class="row justify-content-center titulo">
        {{item.titulo}}
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-4 align-self-center">
          <div class="row label-contadores-globales justify-content-center">
            Entrantes
          </div>
          <div class="row contadores-globales-entrantes justify-content-center">
            {{item.general.entrantes}}
          </div>
        </div>
        <div class="col-4 align-self-center">
          <div class="row justify-content-center">
            <circle-progress
              [percent]="item.general.promedio"
              [radius]="50"
              [toFixed]="2"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#43C454'"
              [innerStrokeColor]="'#d7d7d7'"
              [animation]="true"
              [showSubtitle]="false"
              [unitsFontSize]="'20'"
              [animationDuration]="300">
            </circle-progress>
          </div>
        </div>
        <div class="col-4 align-self-center">
          <div class="row label-contadores-globales justify-content-center">
            Trabajados
          </div>
          <div class="row contadores-globales-trabajados justify-content-center">
            {{item.general.trabajadas}}
          </div>
        </div>
      </div>
      <div class="row horizontal-line">
        <div class="col-6 align-self-center">
          <div class="row vertical-line justify-content-center">
            <circle-progress
              [percent]="item.viejo.promedio"
              [radius]="50"
              [toFixed]="2"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#FB9678'"
              [innerStrokeColor]="'#d7d7d7'"
              [animation]="true"
              [showSubtitle]="false"
              [unitsFontSize]="'20'"
              [animationDuration]="300">
            </circle-progress>
          </div>
        </div>
        <div class="col-6 align-self-center">
          <div class="row justify-content-center">
            <circle-progress
              [percent]="item.nuevo.promedio"
              [radius]="50"
              [toFixed]="2"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#F7B924'"
              [innerStrokeColor]="'#d7d7d7'"
              [animation]="true"
              [showSubtitle]="false"
              [unitsFontSize]="'20'"
              [animationDuration]="300">
            </circle-progress>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 vertical-line label-viejo">
          <div class="row justify-content-center">
            Viejo
          </div>
        </div>
        <div class="col-6 label-nuevo">
          <div class="row justify-content-center">
            Nuevo
          </div>
        </div>
      </div>
      <div class="row horizontal-line">
        <div class="col-6">
          <div class="row align-self-center">
            <div class="col-8">
              <div class="row label-contadores-trabajadas justify-content-start">
                &nbsp;&nbsp;Trabajadas
              </div>
            </div>
            <div class="col-4">
              <div class="row label-count-trabajadas vertical-line justify-content-end">
                {{item.viejo.trabajadas}}&nbsp;&nbsp;
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <div class="row label-count-trabajadas justify-content-start">
                &nbsp;&nbsp;{{item.nuevo.trabajadas}}
              </div>
            </div>
            <div class="col-8">
              <div class="row label-contadores-trabajadas justify-content-end">
                Trabajadas&nbsp;&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row horizontal-line">
        <div class="col-6">
          <div class="row align-self-center">
            <div class="col-8">
              <div class="row label-contadores-trabajadas justify-content-start">
                &nbsp;&nbsp;Entrantes
              </div>
            </div>
            <div class="col-4">
              <div class="row label-count-entrantes vertical-line justify-content-end">
                {{item.viejo.entrantes}}&nbsp;&nbsp;
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <div class="row label-count-entrantes justify-content-start">
                &nbsp;&nbsp;{{item.nuevo.entrantes}}
              </div>
            </div>
            <div class="col-8">
              <div class="row label-contadores-trabajadas justify-content-end">
                Entrantes&nbsp;&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
