<div class="item" [ngClass]="{'zoom': es_movil==false}">
  <div class="row no-gutters justify-content-center titulo">
    {{data.titulo}}
  </div>
  <div class="row no-gutters justify-content-center">
    <div class="col-1 label-type">
      <span class="rotate-actual">Actual</span>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <circle-progress
            [percent]="data.porcentaje_actual"
            [radius]="50"
            [toFixed]="2"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#43C454'"
            [innerStrokeColor]="'#d7d7d7'"
            [animation]="true"
            [showSubtitle]="false"
            [unitsFontSize]="'20'"
            [animationDuration]="300">
          </circle-progress>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="row no-gutters justify-content-end align-items-center">
        <div class="col-6 label-in-out">
          Entrantes
        </div>
        <div class="col-6 label-count">
          {{data.entrantes_actual}}
        </div>
      </div>
      <div class="row no-gutters justify-content-end  align-items-center">
        <div class="col-6 label-in-out">
          Trabajados
        </div>
        <div class="col-6 label-count">
          {{data.trabajados_actual}}
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters justify-content-center lines">
    <div class="col-1 label-type-old">
      <span class="rotate">Acumulado</span>
    </div>
    <div class="col-4 align-self-center">
        <circle-progress
          [percent]="data.porcentaje_acumulado"
          [radius]="50"
          [toFixed]="2"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#E77E23'"
          [innerStrokeColor]="'#d7d7d7'"
          [animation]="true"
          [showSubtitle]="false"
          [unitsFontSize]="'20'"
          [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-7">
      <div class="row justify-content-end no-gutters align-items-center">
        <div class="col-6 label-in-out">
          Pendiente
        </div>
        <div class="col-6 label-count">
          {{data.pendiente_acumulado}}
        </div>
      </div>
      <div class="row justify-content-end no-gutters align-items-center">
        <div class="col-6 label-in-out">
          Entrantes
        </div>
        <div class="col-6 label-count">
          {{data.entrantes_acumulado}}
        </div>
      </div>
      <div class="row justify-content-end no-gutters  align-items-center">
        <div class="col-6 label-in-out">
          Trabajados
        </div>
        <div class="col-6 label-count">
          {{data.trabajados_acumulado}}
        </div>
      </div>
    </div>
  </div>
</div>
