<div class="container-fluid lineas">
    <div class="row">
        <div class="col-12">
            <div class="row mb-3">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary mt-1 " [routerLink]="['recoleccion']" routerLinkActive="activo" >Estadisticas</button>
                    <button type="button" class="btn btn-primary mt-1 " [routerLink]="['entrega-tarjetas']" routerLinkActive="activo" >Entrega tarjetas</button>
                    <button type="button" class="btn btn-primary mt-1 " [routerLink]="['clientes-aws']" routerLinkActive="activo" >Clientes AWS</button>
                    <button type="button" class="btn btn-primary mt-1 " [routerLink]="['perfilamiento-contactos']" routerLinkActive="activo" >Perfilamiento contactos</button>
                    <button type="button" class="btn btn-primary mt-1 " [routerLink]="['usuarios-app']"routerLinkActive="activo" >Usuarios App</button>
                    <!-- <button type="button" class="btn btn-primary mt-1 " [routerLink]="['clientes-hijos']"routerLinkActive="activo" >Clientes padres-hijos</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="min-height: 100vh;">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>


</div>
