<ngx-spinner [name]="'loading'"  ><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="container top">
  <br>
  <div class="row align-self-center">
    <div class="col-md-3">
      <select class="input" [(ngModel)]="sucursal">
        <option value="0">Sucursales</option>
        <option *ngFor="let sucursal of sucursales" [value]="sucursal.sucursal">
          {{sucursal.descripcion}}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="input" [(ngModel)]="mes">
        <option value="0">Mes de Fill Rate</option>
        <option *ngFor="let mes of meses" [value]="mes.id">
          {{mes.descripcion}}
        </option>
      </select>
    </div>
        <div class="col-md-3 col-xs-12">
        <button class="btn btn-danger  btn-block" (click)="buscar_fill_rate()">Ver</button>
      </div>
  </div>
  <br>
  <div class="row cacaron" *ngFor="let tabla of dataGuardado">
    <div class="col-12">
      <div class="row header ">
        <div class="col-3 align-self-center ">
          <div class="row justify-content-start ">
         &nbsp;&nbsp;  {{tabla.header.sucursal}}
          </div>
        </div>
        <div class="col-6 align-self-center">
          <div class="row justify-content-center ">
            <div class="encabezado">
              &nbsp;&nbsp;{{tabla.header.titulo}} &nbsp;&nbsp;
            </div>
          </div>
        </div>
        <div class="col-3 align-self-center">
          <div class="row justify-content-end">
            {{tabla.header.fecha}} &nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>

    <div class="row" *ngIf="es_movil">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="row">
            <div class="col-6 align-self-center vertical-line">
              <div class="row justify-content-center">
                <app-radial [data]="tabla.summary.porcentaje"></app-radial>
              </div>
              <div class="row justify-content-center">
                Porcentaje de aciertos
              </div>
            </div>
            <div class="col-6 align-self-center">
              <div class="row justify-content-center">
                <div class="col-6  vertical-line align-self-center">
                  <div class="row justify-content-center number-count">
                    {{tabla.counter[0].count}}
                  </div>
                  <div class="row justify-content-center number-label">
                     <span class="txtGrafica"> {{tabla.counter[0].descripcion}}</span>
                  </div>
                </div>
                <div class="col-6 vertical-line align-self-center">
                  <div class="row justify-content-center number-count">
                    {{tabla.counter[1].count}}
                  </div>
                  <div class="row justify-content-center number-label">
                    {{tabla.counter[1].descripcion}}
                  </div>
                </div>
              </div>
              <div class="row horizontal-line">
                <div class="col-6  vertical-line align-self-center">
                  <div class="row justify-content-center number-count">
                    {{tabla.counter[2].count}}
                  </div>
                  <div class="row justify-content-center number-label">
                    {{tabla.counter[2].descripcion}}
                  </div>
                </div>
                <div class="col-6 vertical-line align-self-center">
                  <div class="row justify-content-center number-count">
                    {{tabla.counter[3].count}}
                  </div>
                  <div class="row justify-content-center number-label">
                    {{tabla.counter[3].descripcion}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="row">
            <table class="table-striped" #tableSolicitudes>
              <thead>
                <tr class="justify-content-center" [ngClass]="{'header-movile': es_movil==true}">
                  <th scope="col">Semana</th>
                  <th scope="col">Guardado</th>
                  <th scope="col">Desaciertos</th>
                  <th scope="col">Error porcentual <i class="far  fa-clipboard fa-lg" (click)="copiarTable(1)"></i></th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of tabla.data_fill" class="trDesktop">
                  <th>{{item.semana}}</th>
                  <td>{{item.count}}</td>
                  <td>{{item.desaciertos}}</td>
                  <td>{{item.porcentaje | number  : '1.2-2'}} %</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row summary-data" [ngClass]="{'border-summary': item.mostrar==false}">
            <table class="table-striped">
              <thead>
                <tr class="justify-content-center">
                  <th scope="col">Total</th>
                  <th scope="col">{{tabla.summary.count}}</th>
                  <th scope="col">
                    {{tabla.summary.desaciertos}}
                    <img src="assets/icons/more.png" width="15px" height="15px" *ngIf="!item.mostrar" (click)="mostrarCausas(item)">
                    <img src="assets/icons/minus.png" width="15px" height="15px" *ngIf="item.mostrar" (click)="mostrarCausas(item)">
                  </th>
                  <th scope="col">{{tabla.summary.porcentaje | number: '1.2-2'}} %</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 align-self-center" *ngIf="!es_movil">
          <div class="row">
            <div class="col-6 align-self-center vertical-line">
              <div class="row justify-content-center">
                <app-radial [data]="tabla.summary.porcentaje"></app-radial>
              </div>
              <div class="row justify-content-center">
                Porcentaje de aciertos
              </div>
            </div>
            <div class="col-6 align-self-center">
              <div class="row justify-content-center">
                <div class="col-6  vertical-line align-self-center">
                  <div class="row justify-content-center number-count">
                    {{tabla.counter[0].count}}
                  </div>
                  <div class="row justify-content-center number-label">
                    {{tabla.counter[0].descripcion}}
                  </div>
                </div>
                <div class="col-6 vertical-line align-self-center">
                  <div class="row justify-content-center number-count">
                    {{tabla.counter[1].count}}
                  </div>
                  <div class="row justify-content-center number-label">
                    {{tabla.counter[1].descripcion}}
                  </div>
                </div>
              </div>
              <div class="row horizontal-line">
                <div class="col-6  vertical-line align-self-center">
                  <div class="row justify-content-center number-count">
                    {{tabla.counter[2].count}}
                  </div>
                  <div class="row justify-content-center number-label ">
                    <p> {{tabla.counter[2].descripcion}} <br/>

                  </div>
                </div>
                <div class="col-6 vertical-line align-self-center">
                  <div class="row justify-content-center number-count">
                    {{tabla.counter[3].count}}
                  </div>
                  <div class="row justify-content-center number-label ">
                    {{tabla.counter[3].descripcion}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="item.mostrar">
        <div class="col">
          <div class="row justify-content-center header-detalle">
            Detalle de guardado de mercaderia
          </div>
          <div class="row">
            <table #tableCausas class="table-detaill table-striped detail-table">
              <thead>
                <tr class="justify-content-center">
                  <th scope="col-4">Nombre</th>
                  <th scope="col-2">Guardado</th>
                  <th scope="col-2">Desaciertos</th>
                  <th scope="col-2">Sin supervición</th>
                  <th scope="col-2">Error % <i class="far  fa-clipboard fa-lg" (click)="copiarTable(2)"></i></th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let detalle of tabla.causas" class="justify-content-center trDesktop">
                  <td align="left">{{detalle.nombre}}</td>
                  <td>{{detalle.guardado}}</td>
                  <td>{{detalle.desaciertos}}</td>
                  <td>{{detalle.pendientes}}</td>
                  <td>{{detalle.porcentaje  | number  : '1.2-2'}} %</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>
