.bg-primary{
    background-color: #003F87 !important;
}

.text-primary{
    color: #003F87 !important;
}

.pointer{
    cursor: pointer;
}
.tamanio-icono{
    font-size: 1.3em;
}

.tamanio-tarifa-plana{
    font-size: 0.8em;
}

.fondomodall {
    z-index: 1060;
    background-color: #2f353aa1 !important;
}