.item{
  border: 1px solid #d0cdcd;
  border-radius: 10px;
  height: 80px;
  width: 95%;
  box-shadow: 1px 1px 5px 0px  #aeafb5;
  margin: 5px;
}

.icon{
  width: 55px;
  height: 55px;
}

.counter{
  font-weight: bold;
  font-size: 2.5rem;
  color: #697179;
}

.title{
  font-weight:bold;
  font-size: 1.0rem;
  color: #697179;
  margin-top: -10px;
}
