<div class="card">
  <div class="card-header text-center bg-primary text-white px-1 ">
     <ng-container  *ngIf="esCliente; else contactoHeader">CLIENTE</ng-container>

      <ng-template #contactoHeader>
          CONTACTO
          <img class="float-right radio mx-1" *ngIf="contacto.tipo_cliente==1"
              src="assets/allas/log_allas_azul.jpeg" tooltip="Exclusivo" alt="logo allas"
              width="30px" height="30px">
          <img class="float-right radio mx-1" *ngIf="contacto.tipo_cliente==2"
              src="assets/allas/img_experto.png" tooltip="Experto" alt="logo allas"
              width="30px" height="30px">
          <img class="float-right radio mx-1" *ngIf="contacto.tipo_cliente==0"
              src="assets/allas/img_sin_clasificar.png" tooltip="Sin clasificar" alt="logo allas"
              width="30px" height="30px">
      </ng-template>

      <i class="fa fa-pencil-square-o pointer mt-1 mr-1 fa-lg float-right"
      tooltip="Editar cliente"  aria-hidden="true" (click)="mostrarEdicion()"></i>
    </div>

    <div class="card-body">
      <!----------------------------- TARJETA CLIENTE --------------------------------------->
      <ng-container *ngIf="esCliente; else contactoBody">

        <div class="row mt-3">
          <div class="col-12">
            <div class="d-flex">
              <strong tooltip="Nombre Legal"
              *ngIf="cliente.nombre_legal">
                  NL-
              </strong>
              <div>
                <strong>
                  {{cliente.nombre_legal}}
                </strong>
              </div>
            </div>
            <br>
            <div class="d-flex">

              <strong tooltip="Nombre Comercial"
              *ngIf="cliente.nombre_comercial">
                  NC-
              </strong>
              <div>
                <strong  >
                  {{cliente.nombre_comercial}}
                </strong>
              </div>
          </div>
          </div>
        </div>


        <div class="row mt-3"
        *ngIf="cliente.direccion_calle_avenida || cliente.barrio_colonia_zona || cliente.direccion_referencia || cliente.ciudad || cliente.departamento">
        <div class="col-12">
            <div class="d-flex">
                <!-- <div> -->
                <i class="fas fa-map-marker-alt tamanio-icono text-primary mr-3"></i>
                <!-- </div> -->
                <div>
                  <div *ngIf="cliente.direccion_calle_avenida">
                    <span> {{cliente.direccion_calle_avenida | uppercase}},</span> <br>
                </div>
                <div *ngIf="cliente.barrio_colonia_zona">
                    <span>{{cliente.barrio_colonia_zona | uppercase}},</span> <br>
                </div>
                <div *ngIf="cliente.direccion_referencia">
                    <span> {{cliente.direccion_referencia | uppercase}},</span> <br>
                </div>
                <div  *ngIf="cliente.ciudad">
                    <span>{{cliente.ciudad | uppercase}},</span> <br>
                </div>
                <div *ngIf="cliente.departamento">
                    <span>{{cliente.departamento| uppercase}}</span>
                </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row mt-3"
      *ngIf="cliente.identificacion">
        <div class="col-12">
            <div class="d-flex">
                <strong> <i
                        class="fas fa-address-card tamanio-icono mr-2 text-primary"></i></strong>
                <span>{{cliente.identificacion}}</span> <br>
            </div>
        </div>
      </div>
      <!-- TELEFONOS -->
      <div class="row mt-3" *ngIf="cliente.telefonos != null">
        <div class="col-12">
            <div class="d-flex">
                <div>
                    <strong> <i class="fas fa-phone tamanio-icono mr-2 text-primary"></i>
                    </strong>
                </div>
                <div >
                  <span *ngFor="let telefono of cliente.telefonos">
                    ({{telefono.area}}) {{telefono.telefono}}
                  </span>
                </div>
            </div>
        </div>
      </div>
    </ng-container>

    <!----------------------------- TARJETA CONTACTO --------------------------------------->
    <ng-template #contactoBody>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-5 pr-1">
            <img *ngIf="contacto.url_imagen" [src]="contacto.url_imagen"
                class="img-thumbnail pointer">
            <img *ngIf="!contacto.url_imagen" src="assets/img/profile-user.png"
                class="img-thumbnail">
        </div>
        <div class="col-md-9 col-sm-8 col-7">
            <!-- NOMBRE -->
          <div class="row">
              <div class="col-12">
                  <h6 class="card-title float-left"><span><strong>{{contacto.nombres}}
                              {{contacto.apellidos}}</strong>
                      </span>
                  </h6>
              </div>
          </div>
          <!-- IDENTIFICACION -->
          <div class="row" *ngIf="contacto.identificacion">
              <div class="col-12">
                  <div class="d-flex">
                      <!-- <i class="fas fa-address-card text-primary tamanio-icono mr-2"></i> -->
                      <div class="d-flex flex-wrap">
                          <h6 class=" text-muted ">{{contacto.identificacion}}</h6>
                          <div>
                              <i class="fas fa-check-circle text-success ml-2 tamanio-icono float-rigth"
                                  *ngIf="contacto.identificacion_validada"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

           <!-- TELEFONOS -->
           <div class="row mt-2" *ngIf="contacto.telefonos">
            <div class="col-12">
                <div class="d-flex">
                    <i class="fas fa-phone tamanio-icono mr-2 text-primary"></i>
                    <div>
                        <span *ngFor="let telefono of contacto.telefonos">
                            ({{telefono.area}}) {{telefono.telefono}} <br>
                        </span>
                    </div>
                </div>
            </div>
        </div>

         <!-- DIRECCION -->
         <div class="row mt-2" *ngIf="contacto.ciudad || contacto.departamento">
          <div class="col-12">
              <div class="d-flex">
                  <i class="fas fa-map-marker-alt tamanio-icono text-primary mr-2"></i>
                  <div>
                      <span class="my-2">{{contacto.ciudad | titlecase}},
                          {{contacto.departamento | titlecase}}</span>
                  </div>
              </div>
          </div>
      </div>

        <!-- CORREO ELECTRONICOS -->
        <div class="row mt-2" *ngIf="contacto.correo_electronico">
          <div class="col-12">
              <div class="d-flex">
                  <i class="fas fa-at tamanio-icono text-primary mr-2"></i>
                  <div>
                      <span class="my-2">{{contacto.correo_electronico}}</span>
                  </div>
              </div>
          </div>
      </div>

        </div>
      </div>
    </ng-template>
  </div>
</div>
